html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #CCC;
}

#app {
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
